#floater {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#madlib {
	line-height: 500px;
	height: 500px;
}

body {
	background-color: black;
}

h1 {
	color: steelblue;
}

h1 i {
	color: yellow;
}

input[type="button"] {
}